body{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button{
 background-color: black;
 color: white;
 border-radius: 12px;
 font-size: 65px;
 display: flex;
 flex-direction: row;
}